@import '../base/mixind.scss';

/*Article index*/
.destacados{
    @include letter(40px, 50px, #737373);
}

/*Article tyc*/
.tyc-container{
    @include container
}
.pdp-container{
    @include container
}

/*Article talles*/
.table-container{
    padding-top: 60px;
    text-align: center;
    table{
        margin: auto;
        padding: 20px;
        align-items: center;
        border: solid #737373 5px;
        tr, td{
            border:  solid #000 2px;
        }
    }
  }

  /*Article contactos*/
  .contactos-container{
      @include letter(top(60px), 10px, #737373);
        h2,h3,p{
            font-family: "Josefin Slab", serif;
            font-size: 24px;
            color: #6a7885;
        }
        .email-container{
            padding: 60px;
        }
        .email{
         padding: 5px;
        } 
  }